.dark-background {
    background: $body-inverse-color;
    .title {
        color: $body-color;
    }
    .subtitle {
        color: darken($body-color, 10%)
    }
}


.white-background {
    background: $body-color;
    color: $body-inverse-color;
    .title {
        color: $body-inverse-color;
    }
    .subtitle {
        color: lighten($body-inverse-color, 10%);
    }
}