html[role="app"] {
    overflow: hidden;
}

.special-link {
    position: relative;
    z-index: 2;
}
.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.avatar {

    object-fit: cover;
    border: 2px solid #ffffff;
    //box-shadow: 0px 0px 0px 1px rgba(85, 85, 85, 0.2);
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: 0;
}
figure.avatar {
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
}

/*** HELPERS ***/
.is-relative {
    position: relative;
}
/*** USER LIST ***/
.user-card {
    padding: 0 5px 10px;
    & > .card-content {
        background: $white-ter;
        padding: 20px 10px;
        .user-avatar {
            margin-bottom: 1em;
        }
    }
}


.user-list {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    & > * {
        margin-bottom: 1em;
        width: 100%;
    }
}
/** Responsive hacks **/
    .panel {
        background: $white-dank;
        border-radius: $radius;
    }
    .panel.is-responsive {
        max-width: $desktop;
        margin: 10vh auto 0;
        padding: 3em 2em;
    }
    .panel.is-medium {
        max-width: $desktop/3*2
    }

    @media screen and (max-width: $desktop - 1px) {
        html {
            overflow-y: auto !important;
        }
        .panel.is-responsive {
            margin: 10vh 20px;
        }
        .mobile-column-reverse {
            flex-direction: column-reverse !important;
        }
        .mobile-row-reverse {
            flex-direction: row-reverse;
        }
    }

/** End Responsive hacks **/
.is-breathable {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    z-index: 110;
    border-radius: 50%;
    pointer-events: auto;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.is-breathable:after {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    border: 4px solid #9236f7;
    border-radius: 50%;
    animation-duration: 1.2s;
    animation-name: intervalBorderBreathe;
    animation-iteration-count: infinite;
}
.is-breathable.breathe-light {
    background-color: hsl(0, 0%, 97%);
}
.is-breathable.breathe-light:after {
    border-color: hsl(0, 0%, 98%);
}
.is-breathable.breathe-small:after {
    animation-name: intervalBorderBreatheSmall;
}
@keyframes intervalBorderBreathe {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    10% {
        opacity: 1;
    }
    80% {
        transform: scale(1.6);
    }
    100% {
        opacity: 0;
        transform: scale(1.6);
    }
}
@keyframes intervalBorderBreatheSmall {
    0% {
        opacity: 0;
        transform: scale(1.05);
    }
    10% {
        opacity: 1;
    }
    80% {
        transform: scale(1.2);
    }
    100% {
        opacity: 0;
        transform: scale(1.2);
    }
}