section[role="searchbox"] {
    padding-top: 5em;

    .search-result {
        width: 100%;
        display: flex;
        flex-direction: row;
        margin-left: -10px;
        margin-right: -10px;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .user-card {
        padding: 0 5px 10px;
        flex-grow: 1;       
        flex-shrink: 0;
        width: 25%;
        & > .card-content {
            background: $white-ter;
            padding: 20px 10px;
            .user-avatar {
                margin-bottom: 1em;
            }
        }
    }
}


@media screen and (max-width: $desktop - 1px) {
    .user-card {
        width: 50%;
    }
}