
// Set your brand colors
$purple: #8A4D76;
$pink: #FA7C91;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;
$darksider: #292931;
$brown-violet: #423142;
$golden-yellow: #fff670;
$white-dank: hsl(0, 0, 98%);




// Update Bulma's global variables
$body-family: "Roboto", sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $golden-yellow;
$link: $pink;

$link-hover: darken($pink, 10%);
$body-background-color: $darksider;
$body-color: $white-dank;
$body-inverse-color: #3a3e4b;

// Update some of Bulma's component variables
$control-border-width: 2px;
$input-background-color: $beige-lighter;
$input-border-color: transparent;
$input-shadow: none;
